@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@500&display=swap');
/* @import url('https://fonts.googleapis.com/css2?family=Barlow:wght@700;800&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    transition: .4s linear;
}
html{
    scroll-behavior: smooth;
}


ul a, nav a{
    text-decoration: none;
}
ul{
    list-style: none;
}
.btn{
    background: linear-gradient(to right, rgb(211, 27, 211), rgb(86, 19, 173));
    color: white;
    box-shadow: .2rem .2rem .3rem rgb(94, 5, 129);
    outline: none;
    border: none;
    font-size: 1.1rem;
    border-radius: 10px;
    padding: 3px 6px;
    margin-right: 7px;
    font-weight: bold;
}
.btn:hover{
    color: rgb(68, 6, 44);
    background: rgb(236, 217, 217);
}
.title{
    padding: 0 6px;
    flex: 0 0 100%;
    text-align: center;
    max-width: 100%;
}
.title h3{
    display: inline-block;
    font-size: 25px;
    font-weight: bold;
} 

/* scial icons  */
.social-icons{
    display: flex;
    flex-direction: column;
    position: fixed;
    right: 2.3%;
    top: 23%;
}
.social-icons i{
    font-size: 22px;
    margin-bottom: 10px;
    cursor: pointer;
    padding: 2px 2px;
    box-shadow: 0 0 10px rgb(204 2 236 / 50%);
    border-radius: 5px;
}
.social-icons i:hover,  .action i:hover{
    transform: rotate(360deg);
}
.whatsapp-chat{
    position: fixed;
    right: 2%;
    bottom: 16%;
}
.whatsapp-chat i{
    font-size: 2rem;
    background-color: rgb(29, 179, 9);
    padding: 10px 10px;
    border-radius: 100%;
    color: white;
}
/* .chat-with-me{
    position: relative;
    right: 20%;
    display: none;
}
.chat-with-me h3{
    display: inline-block;
}
.whatsapp-chat:hover .chat-with-me{
    display: block;
} */


/* navigation  */
.header{
    width: 100%;
    position: fixed;
    background: white;
    z-index: 999;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav ul li{
    display: inline-block;
}
nav ul li a {
    position: relative;
}
.logo{
    font-size: 1.6rem;
    padding: 3px 8px;
    margin: 4px 7px;
    font-weight: bold;
    font-family: 'Lobster', cursive;
}
.logo .port{
    color: rgb(3, 50, 88);
}
.logo .folio{
    color: rgb(183, 12, 189);
}
nav .nav-item{
    padding: 2px 7px;
    font-size: large;
    margin-top: 5px;
    font-family: 'Azeret Mono', monospace;
    font-weight: bold;
    border-right: 1px solid rgb(67, 2, 73);
}
.nav-item a{
    color: rgb(128, 23, 123);
}
.nav-item a.active{
    color: rgb(94, 8, 151);
    border-bottom: 1.6px solid rgb(192, 29, 157);
    transition: all ease-in ;
}
nav .toggle{
    display: none;
}
#toggleBtn{
    position: relative;
    right: 3%;
    border: none;
    outline: none;
    font-size: 20px;
}
#cancel-btn{
     font-size: 20px;
     padding: 4px;
}


/* hiring content  */
.hiring-content{
    position: relative;
    top: 10vh;
    display: none;
}.hiring-content.active{
    display: block;
}
.hire-me a{
    color: white;
}
.hire-me:hover a{
    color: black;
}
/* home  */
.home{
    display: flex;
    align-items: center;
    justify-content:space-around;
    height: 100vh;
}
.home .home-container > *{
    padding: 4px 4px;
    margin: 8px 5px;
}
.action i{
    font-size: 22px;
    margin-left: 10px;
    padding: 10px 10px;
    cursor: pointer;
    padding: 4px 4px;
    box-shadow: 0 0 10px rgb(204 2 236 / 50%);
    border-radius: 5px;
}
.action , .home-container h4{
   text-align: center;
}
.home-container p{
    font-weight: bold;
    font-family: 'Lobster', cursive;
    font-size: 1.5rem;
    opacity: .6;
}
.home-container .web-d{
    font-size: 20px;
    letter-spacing: 1px;
    color: rgb(63, 44, 116);
    margin-right: 20px;
}
.home-container h2{
    font-size: 3rem;
    color: rgb(114, 17, 101);
    font-family: 'Architects Daughter', cursive;
    padding: 10px 0;
    letter-spacing: 3px;
}
.home-container .arijit{
    color: rgb(95, 35, 192);
}
.dev-cv{
     display: flex;
     justify-content: center;
}

/* about  */
.title .about-title::before{
    content: attr(data-heading);
    display: block;
    font-size: 18px;
    color: rgb(148, 6, 148);
    border-bottom: 2px solid blueviolet;
    font-family: 'Barlow', sans-serif;
}

.about .content , .skills-content{
    display: flex;
    align-items: center;
}
.about .content{
    justify-content: space-around;
}
.content .about-img{
    padding: 0 19px;
    margin:0 22px;
}
.content img{
    max-height: 450px;
    max-width: 450px;
}
.content2{
    margin: 23px;
}
.content2 .tabs
{
   align-items: center;
   justify-content: center;
    display: flex;
}
.content2 .tabs span{
    padding: 3px 10px;
    margin:0 3px 10px;
    font-weight: bold;
    font-size: 20px;
    color: rgb(124, 16, 124);
    border-radius: 32px;
    cursor: pointer;  
}
.content2 .tabs .tab-item:hover:not(.active){
    opacity: 0.6;
}
.content2 .tabs .tab-item.active{
    color: rgb(11, 50, 95);
    box-shadow: .1rem .1rem .1rem .1rem rgb(121, 3, 150);
}
.about .content .my-info{
    max-width: 600px;
    background: linear-gradient(to left, rgb(249, 74, 255), rgb(158, 28, 209));
    padding: 34px 34px;
    border-radius: 10px 105px / 130px;
    color: white;
    font-family: 'Barlow', sans-serif;
    letter-spacing: 1px;
}
.about .content .my-info h4{
    text-align: center;
    padding: 10px 8px;
    font-size: 1.3rem;
    font-weight: bold;
    letter-spacing: 1px;
}

             /* skills  */
.skills-content{
  flex-wrap: wrap;
  justify-content: space-between;
}
.skills-content .skills{
    width: calc(50% - 10px);
}
.skills-content .text{
    font-size: 20px;
    font-weight: bold;
    font-family: 'Inconsolata', monospace;
    padding: 10px 4px;
}
.skills-content .skill-bar{
    margin-bottom: 17px;
}
.skills-content .left{
    padding: 0 2rem;
    border-right: 2px solid rgb(44, 7, 87);
}
.skills-content .left .information{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.skills-content .left .text, .skills-content .right .text{
    text-align: center;
    margin-bottom: 15px;
}
.skills-content .left .text::after,.skills-content .right .text::after{
    content: '---';
    display: block;
}
.skills-content .left span{
    font-weight: 550;
}
.skills-content .left .line{
    height: 5px;
    width: 100%;
    background: rgba(31, 4, 95, 0.2);
    position: relative;
    border-radius: 10px;
}
.skills-content .left .line::before{
    content: '';
    position: absolute;
    height: 100%;
    width: 86%;
    left: 0;
    top: 0;
    background: rgb(31, 4, 95);
}
.skills-content .left .css::before{
    width: 85%;
}
.skills-content .left .js::before{
    width: 82%;
}
.skills-content .left .git::before{
    width: 96%;
}
.skills-content .left .react::before{
    width: 75%;
}
.skills-content .left .photoshop::before{
    width: 90%;
}
.skills-content .right{
    display: flex;
    align-items: center;
    flex-direction: column;
}

/* project  */



    
      /* toggling  */
.about-container .tab-content{
    display: none;
}
.about-container .tab-content.active{
    display: block;
}



/* services  */
.services .title h3{
    margin: 34px 0;
    padding: 17px 0;
}
.services .title .service-title::after{
    content: 'Following Services I Offer';
    display: block;
    font-size: 16px;
    border-top: 2px solid rgb(116, 3, 116);
    padding: 4px 0;
    opacity: .8;
    color: rgb(54, 0, 59);
    font-family: 'Barlow', sans-serif;
}
.services-container{
    display: grid;
    grid-template-columns:repeat(3, max-content);
    justify-content: space-around;
    gap: 20px;
}
.service-content{
    background: rgba(181, 59, 238, .4);
    padding: 20px 40px;
    border-radius: 10%;
    margin-top: 30px;
    position: relative;
}
.service-content .s-heading{
    text-align: center;
}
.service-content .above-i{
    position: relative;
    bottom: 39%;
    width: 100%;
    text-align: center;
    font-size: 50px;
    background-color: white;
    padding: 15px 0;
    border-radius: 50%;
}
.service-content h2{
    position: relative;
    bottom: 27px;
    letter-spacing: 1px;
}
.service-list{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(83, 23, 83, .7);
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    visibility: hidden;
    z-index: 999;
}
.service-list.active{
    visibility: visible;
    opacity: 1;
}
.service-list .service-list-items{
    position: relative;
    background-color: white;
    padding: 1rem;
    border-radius: 30px;
    letter-spacing: 1px;
    line-height: 24px;
    transition: .4s linear;
}


.service-list-items ul > *{
    padding: 8px 0;
    display: flex;
    /* justify-content: space-around; */
}
.service-list-heading{
    font-size: 22px;
    color: rgba(34, 31, 31, .7);
    font-weight: bold;
    padding-bottom: 10px;
}
.service-list-items ul li p{
    font-size: large;
    font-weight: bold;
    font-family: 'Inconsolata', monospace;
}
.service-list-items ul li i{
    position: relative;
    top: 4px;
    padding-right: 10px;
    color: #7e6f6f;
}
.service-list .close-icon{
    position: absolute;
    right: 30px;
    top: 13px;
    font-size: 24px;
    cursor: pointer;
}

.v-btn{
    text-align: end;
    padding: 4px;
}
.v-btn .vMore-btn{
    cursor: pointer;
    font-size: 23px;
   letter-spacing: 2px;
   color: #95003e;
   font-weight: bold;
}
.v-btn .vMore-btn:hover{
    color: rgb(255, 255, 255);
    transition: .5s ease-in-out;
    font-weight: bold;
}


/* review  */
.review-container{
    position: relative;
    perspective: 1000px;
}
.review{
    margin: 3rem 15rem;
}
.review-content{
    margin: 6rem 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.title .review-title::before{
    content: attr(data-heading);
    display: block;
    font-size: 18px;
    color: rgb(148, 6, 148);
    border-bottom: 2px solid blueviolet;
    font-family: 'Barlow', sans-serif;
}
.review-content .per-user{
    border-radius: 5px;
    box-shadow: 0 5px 10px rgba(204, 31, 167, 0.467);
    width: 450px;
    padding: 20px;
    margin: 10px;
    position: relative;
    transform-style: preserve-3d;
    animation: slider .4s linear;
}
@keyframes slider{
    0%{
        transform: rotateY(180deg);
    }

}

.review-content .per-user > *{
    animation: peruser .3s linear .4s backwards;
}
@keyframes peruser{
    0%{
        opacity: 0;
        transform: scaleY(.5);
    }
}
.per-user .quote-icon{
    position: absolute;
    font-size: 38px;
    color: violet;
    right: 2vw;
}
.per-user .user-head{
    font-size: 20px;
    font-family: 'Barlow Semi Condensed', sans-serif;
    color: rgb(88, 73, 168);
    padding: 7px 10px;
}
.per-user .user-para{
    text-align: center;
    font-size: 15px;
    padding: 4px;
    font-weight: bold;
    color: rgba(117, 109, 109, .7);
    font-style: italic;
}
.per-user .review-stars{
    text-align: center;
    padding: 8px;
    color: rgb(211, 23, 148);
}
.review-container .review-box{
    display: none;
}
.review-container .review-box.active{
    display: block;
}


.review-container #next, .review-container #prev{
    position: absolute;
    top: 50%;
    text-align: center;
    height: 50px;
    width: 50px;
    cursor: pointer;
    font-size: 30px;
    color: rebeccapurple;
}
.review-container #next{
    right: 0;
}

/* contact  */
.contact{
    margin: 3rem 4rem;
}
.title .contact-title::after{
    content: attr(data-heading);
    display: block;
    font-size: 18px;
    color: rgb(148, 6, 148);
    border-top: 2px solid blueviolet;
    font-family: 'Barlow', sans-serif;
}
.contact-container, .massage-box{
    font-family: 'Barlow Semi Condensed', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.contact-box{
    margin: 2rem 0;
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 20px;
}
.contact-field{
    margin: 7px 14px;
}
.contact-field input, .massage-box textarea{
    border: none;
    padding: 10px 35px;
    font-size: larger;
    box-shadow: 0px 2px 1px 1px rgba(138, 140, 240, 0.4);
    width: max-content;
    border-radius: 5px;
}.massage-box textarea{
    width: fit-content;
}
.contact-heading{
    padding: 6px 0;
}
.form-submit{
    margin: 17px 0;
}


/* footer  */
.footer{
    margin: 3rem 6rem;
}
.footer-row{
    display: grid;
    grid-template-columns: repeat(4, auto);
}
.footer-content .logo img{
    max-width: 35px;
}
.footer-content .logo span{
    font-size: 32px;
    font-weight: bold;
    position: relative;
    top: 1vh;
    opacity: .77;
    text-transform: uppercase;
    letter-spacing: 3px;
}
.footer-content{
    padding: 10px 30px;
}
.footer-content p{
    padding: 18px 0;
    font-size: 15px;
}
.footer-content .social-icon{
    display: flex;
}
.social-icon i{
    padding: 0 5px;
}
.footer-box h3{
    font-size: 20px;
    font-weight: bold;
    font-family: 'Barlow Semi Condensed', sans-serif;
}
.addre-span{
    font-size: 16px;
    font-weight: bold;
    opacity: .7;
}
.addr1{
    color: #b410ac;
    font-size: 15px;
    padding-left: 3px;
}
.div-addr a{
    font-size: 15px;
    padding-left: 9px;
}
.div-addr{
    padding: 6px 0 ;
}
.f-link a{
    font-size: 16px;
}
.f-link-item{
    padding: 5px 0 ;

}
.newsletter-form input{
    border: none;
    padding-bottom: 4px;
    border-bottom: 1px solid rgba(53, 51, 51,.6);
}
.subscribe{
    font-family: 'Barlow', sans-serif;
    border: none;
    outline: none;
    background-color: transparent;
}
.subscribe i{
    font-size: 12px;
    padding-left: 5px;
}



/* scroll top  */
#scrollBtn{
    position: fixed;
    right: 4%;
    bottom: 3%;
    cursor: pointer;
    display: none;
    font-size: 2.2rem;
}
#scrollBtn.active{
    display: block;
}

/* responsive  */
@media (max-width:1000px){
  nav ul li{
    flex-direction: column;
    display: flex;
  }
  .nav-item a.active{
    color: rgb(236, 150, 218);
    border-bottom:none;
    transition: none;
    letter-spacing: 1px;
}
  nav .nav-item{
      border-right: none;
  }
  .nav-ul{
      display: none;
  }
  .nav-ul.active{
      display: block;
  }
  .toggle.active{
      display: none;
  }
  nav ul{
      position: fixed;
      width: 100%;
      top:8%;
      background: linear-gradient(to left, rgb(41, 70, 201), rgb(17, 117, 163));
  }
.nav-item a{
    color: white;
    margin: 4px 0;
    padding-bottom: 4px;
  }
  .nav-item a:hover{
      border-bottom: none;
      color: rgb(238, 163, 238);
  }
  nav .navigation{
     text-align: center;

  }
  nav .toggle{
      display: block;
  }
  /* home  */
  .home{
      flex-direction: column-reverse;
  }

  /* about  */
 .about .content{
     flex-direction: column;
 }

  /* skills  */
  .skills-content{
      flex-direction: column;
  }
  .skills-content .left{
      border: none;
      margin-bottom: 20px;
  }
  .services-container{
    grid-template-columns: auto auto;
}

/* review */
.review {
    margin: 3rem 6rem;
}

/* contact  */
.contact-box{
    grid-template-columns: auto;
}
.massage-box textarea {
    width: 100%;
}

/* footer  */
.footer-row{
    display: grid;
    grid-template-columns: repeat(2, auto);
}
.footer{
    margin: 1rem;
}
}

@media (max-width:680px){
    .about .content .my-info{
        margin: 2rem 2rem;
        padding: 2rem 3rem;
    }
    .about .content img{
        max-height: 210px;
        margin-top: 23px;
    }
    .content2 .tabs{
        flex-direction: column;
    }
    .content2 .tabs .tab-items{
        margin: 7px 0;
    }
    .content2 .tabs .tab-items span{
        font-size: 18px;
      margin: 8px 0;
      padding: 2px 4px;
    }
    .skills-content .skills {
        width: calc(100% - 10px);
    }
    .home img{
        max-width: 280px;
        margin-top: 23px;
    }
    .services-container{
        grid-template-columns: auto;
    }
    .service-content .above-i{
    padding: 4px 9px;
    border-radius: 12%;
    width: auto;
    bottom: 26%;
    }
    .home-container h2{
        font-size: 1.9rem;
    }
    .home-container p{
        font-size: 1rem;
    }
    .dev-cv{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .web-d{
        padding-bottom: 10px;
    }

    /* review  */
    .review{
        margin: 1rem;
    }

    /* contact  */
    .contact{
        margin: 1rem;
    }

    /* footer  */
    .footer-row{
        display: grid;
        grid-template-columns: auto;
    }
}
@media(max-width: 400px){
    .about .content .my-info{
        margin: 33px 41px;
        padding: 42px 43px;
        font-size: 15px;
    }
    .home img{
        max-width: 245px;
    }
}

@media (max-width:330px) {
    .contact-field input{
        padding: 10px;
        font-size: small;
    }
}